/* this is the first part*/ 
html, body { 
    margin: 0px; 
    padding: 0px
}

body { 
    background-color: #1F2937;
    color: white;  
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    min-width: fit-content;
} 

#header { 
    font-weight: bold;
    font-size: 24px;  
    display: flex;  
    justify-content: space-between;
    margin: 10px;
    gap: 8px; 
    padding: 10px; 
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 8px;
} 

a { 
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    color: #e5e7e8; 
    font-weight: normal

}

.Parent { 
    display: flex;  
    margin: 12px;
    justify-content: center;
}

.heading { 
    font-size: 48px;
    flex: 1; 
    padding-right: 8px
}

p { 
    font-size: 18px;
    color: #e5e7e8
}

img { 
    flex:1; 
    width: 300px;
    height: 300px; 
    margin: 16px;   
}

button {
    padding: 7px 25px;
    border-radius: 6px;
    font-weight: bold;
    background:#3382f6;
    border: 1px solid #3382f6;
    color: whitesmoke; 
    display: inline-block;
    margin-bottom: 100px;
}

/* Second part now*/ 

.Body2 { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    background-color: whitesmoke;
    color: #1F2937;
    text-align: center;
    padding: 200px; 
    margin:0; 
    padding: 0;
}

.header2 { 
    display: flex;
    justify-content: center;
    margin: 24px;
}

.container { 
    display: flex; 
    justify-content: center;
    gap: 12px; 
    padding-bottom: 100px; 
    padding-top: 50px;
}

.text { 
    font-size: 18px;
    font-weight: normal;
    color: #586267
}

#image1, #image2, #image3, #image4 { 
    height: 200px; 
    width: 200px; 
    border: 3px solid #3382f6;
    border-radius: 8px
}

/* Third Section */ 

.Body3 { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: #e5e7e8 ;
    min-width: fit-content;
    margin:0; 
    padding: 0;
}

blockquote{ 
    font-size: 36px;
    font-style: italic;
    color: #1F2937; 
    margin: 60px;
    padding: 30px; 
    box-sizing: border-box;
}

.Quote_text{ 
    color:#1F2937; 
    font-weight: bold;
    font-style: normal;
    text-align: right; 
    font-size: 22px;
}
/* Fourth Section */ 

.body4 { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: whitesmoke;
    min-width: 100%;
     
} 

.Action { 
    background-color: #3382f6;
    margin-top: 250px;  
    margin-bottom: 250px;
    margin-left: 75px; 
    margin-right: 75px; 
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    border-radius: 8px;
    padding-left: 25px; 
    flex-wrap: wrap; 
    align-items: center;
    padding-top: -10px; 
}

.button { 
    border: 1px solid whitesmoke; 
    margin-left: 300px;
    margin-right: 20px; 
    margin-top: 100px; 
} 

.Sign_up { 
    margin-top: -144px ;
}
/* Footer */ 

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937 ;
  }

