/* this is the first part*/ 
body { 
    background-color: #1F2937;
    color: white; 
    margin: 12px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
} 

#header { 
    font-weight: bold;
    font-size: 24px;  
    display: flex;  
    justify-content: space-between;
    margin: 10px;
    gap: 8px; 
    padding: 10px; 
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 8px;
} 

a { 
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    color: whitesmoke; 
    font-weight: normal
}

.Parent { 
    display: flex;  
}

.heading { 
    font-size: 48px;
    flex: 1; 
    padding-right: 8px
}

p { 
    font-size: 18px;
}

img { 
    flex:1; 
    width: 300px;
    height: auto; 
    margin: 16px;   
}

button {
    padding: 1px 25px;
    border-radius: 8px;
    font-weight: bold;
    background:#3382f6;
    border: 1px solid #3382f6;
    color: whitesmoke; 
}

/* Second part now*/ 

.Body2 { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    background-color: whitesmoke;
    color: #1F2937;
}

.header2 { 
    display: flex;
    justify-content: center;
}